@{
}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/sidebar.min.css">
        <title>DocuHub</title>
    </head>
    <body>



<header class="navbar navbar-expand navbar-dark flex-column flex-md-row" style="background-color:#3b3b3b;">
    <a class="navbar-brand mr-0 mr-md-2 mr-3" href="#">
        <svg id="svg853" width="18.488mm" height="8.8361mm" version="1.1" viewBox="0 0 18.488 8.8361" xmlns="http://www.w3.org/2000/svg">
        <g id="layer1" transform="translate(-36.311 -39.086)" fill="#e6e6e6" stroke-width=".26458">
        <g id="text859" transform="matrix(.69134 0 0 .46326 14.061 23.35)" aria-label="Docu">
        <path id="path865" d="m32.184 33.967h1.6278q1.5761 0 2.1291 0.14469 0.5581 0.14469 0.84749 0.47542 0.28939 0.33073 0.36173 0.73897 0.07235 0.40308 0.07235 1.5916v2.93q0 1.1265-0.10852 1.5089-0.10335 0.37724-0.3669 0.59428-0.26355 0.21187-0.65112 0.29972-0.38757 0.08268-1.1679 0.08268h-2.744zm2.1756 1.4314v5.5035q0.47025 0 0.57877-0.18603 0.10852-0.1912 0.10852-1.0284v-3.2504q0-0.56844-0.03617-0.72864-0.03617-0.1602-0.16536-0.23254-0.12919-0.07751-0.48576-0.07751z"/>
        <path id="path867" d="m42.695 37.884v1.6795q0 0.925-0.09302 1.3591-0.09302 0.42891-0.39791 0.80615-0.30489 0.37207-0.78548 0.55294-0.47542 0.1757-1.0955 0.1757-0.69246 0-1.1731-0.14986-0.48059-0.15503-0.7493-0.45992-0.26355-0.31006-0.37724-0.74414-0.11369-0.43925-0.11369-1.3126v-1.757q0-0.95601 0.2067-1.4934 0.2067-0.53743 0.74414-0.86299 0.53743-0.32556 1.3746-0.32556 0.7028 0 1.2041 0.21187 0.50643 0.2067 0.78031 0.5426 0.27388 0.3359 0.37207 0.69246 0.10335 0.35657 0.10335 1.0852zm-2.0877-0.51676q0-0.5271-0.05684-0.66146-0.05684-0.13953-0.24288-0.13953-0.18604 0-0.24805 0.13953-0.06201 0.13436-0.06201 0.66146v3.0954q0 0.48576 0.06201 0.63562 0.06201 0.14469 0.24288 0.14469 0.18604 0 0.24288-0.13436 0.06201-0.13436 0.06201-0.57878z"/>
        <path id="path869" d="m48.002 38.065h-1.9689v-0.79065q0-0.41341-0.06718-0.5581-0.06718-0.14986-0.24805-0.14986-0.18087 0-0.24288 0.12919-0.06201 0.12919-0.06201 0.57877v3.2349q0 0.3669 0.09302 0.55294 0.09302 0.18087 0.27388 0.18087 0.21187 0 0.28422-0.1912 0.07751-0.1912 0.07751-0.72347v-0.81648h1.8603q-0.0052 0.82165-0.06201 1.2351-0.05168 0.40824-0.34623 0.84232-0.28939 0.42891-0.75964 0.65112-0.47025 0.21704-1.1627 0.21704-0.88366 0-1.4004-0.29972-0.51676-0.30489-0.7338-0.84749-0.21187-0.54777-0.21187-1.5503v-1.9482q0-0.87333 0.1757-1.3177 0.1757-0.44442 0.7493-0.79065 0.57361-0.3514 1.3953-0.3514 0.81648 0 1.3953 0.34623t0.76998 0.87333 0.1912 1.4934z"/>
        <path id="path871" d="m53.397 35.476v6.8574h-2.1239l0.03617-0.56844q-0.21704 0.34623-0.53743 0.52193-0.31522 0.17053-0.72864 0.17053-0.47025 0-0.78031-0.16536-0.31006-0.16536-0.45992-0.43925-0.14469-0.27388-0.18087-0.56844-0.03617-0.29972-0.03617-1.1834v-4.625h2.0877v4.6664q0 0.80098 0.04651 0.95084 0.05168 0.14986 0.26872 0.14986 0.23254 0 0.27388-0.15503 0.04651-0.15503 0.04651-0.99735v-4.6147z"/>
        </g>
        <g id="text863" transform="matrix(.69134 0 0 .46326 14.061 23.35)" aria-label="Hub">
        <path id="path874" d="m47.77 44.55v8.3664h-2.1756v-3.514h-0.65112v3.514h-2.1756v-8.3664h2.1756v2.9921h0.65112v-2.9921z"/>
        <path id="path876" d="m53.356 46.059v6.8574h-2.1239l0.03617-0.56844q-0.21704 0.34623-0.53743 0.52193-0.31522 0.17053-0.72864 0.17053-0.47025 0-0.78031-0.16536-0.31006-0.16536-0.45992-0.43925-0.14469-0.27388-0.18087-0.56844-0.03617-0.29972-0.03617-1.1834v-4.625h2.0877v4.6664q0 0.80098 0.04651 0.95084 0.05168 0.14986 0.26872 0.14986 0.23254 0 0.27388-0.15503 0.04651-0.15503 0.04651-0.99735v-4.6147z"/>
        <path id="path878" d="m56.203 44.55v1.9792q0.25838-0.29972 0.57361-0.44442 0.32039-0.14986 0.69246-0.14986 0.42891 0 0.74414 0.13436 0.31522 0.13436 0.48059 0.37724 0.16536 0.24288 0.19637 0.47542 0.03617 0.23254 0.03617 0.99218v3.0902q0 0.75447-0.10335 1.1265-0.09819 0.3669-0.47025 0.64079-0.37207 0.26872-0.88366 0.26872-0.3669 0-0.68729-0.1602-0.31523-0.1602-0.57878-0.48059l-0.13436 0.51676h-1.9534v-8.3664zm0.63562 3.4571q0-0.53227-0.06718-0.69246-0.06718-0.16536-0.26355-0.16536-0.1912 0-0.24805 0.14469-0.05684 0.13953-0.05684 0.71313v2.9559q0 0.55294 0.06201 0.70796 0.06718 0.15503 0.25838 0.15503 0.19637 0 0.25321-0.1602 0.06201-0.1602 0.06201-0.76998z"/>
        </g>
        </g>
        </svg>
    </a>

  <div class="navbar-nav-scroll ml-5">
    <ul class="navbar-nav flex-row">
      <li class="nav-item">
        <a class="nav-link " href="#" >Home</a>
      </li>
    </ul>
  </div>

  <ul class="navbar-nav flex-row ml-md-auto d-none d-md-flex">
    <li class="nav-item">
        <a class="nav-link p-2" href="#" target="_blank" rel="noopener">Sign in</a>
    </li>
</header>


<div class="container-fluid">
    <div class="row flex-x1-nowrap">
        <div class="col-3 col-xl-2 dh-sidebar">
          <form class="dh-search">
            <input type="text" class="form-control" name="search" placeholder="Search">
          </form>
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link" href="#">Ring binders</a>
            </li>
          </ul>
          @RenderSection("sidebar",false)
        </div>
@if(ViewData["infoBar"]!=null && (bool)ViewData["infoBar"]==true)
{
        <div class="col-3 col-xl-2 dh-info">
          @RenderSection("infoBar",false)
        </div>
}
        <main class="col">
          @RenderBody() 
        </main>
    </div>
</div>


    </body>
</html>






