{
  "Logging": {
    "LogLevel": {
      "Default": "Information",
      "Microsoft": "Warning",
      "Microsoft.Hosting.Lifetime": "Information"
    }
  },
  "AllowedHosts": "*",
  "Kestrel":{
    "Endpoints": {
      "Http": {
        "Url": "http://localhost:5012"
      }
    }
  },
  "Database": {
    "ConnectionString":"Server=localhost;Database=ef;User=root;Password=1234;",
    "DbVersion": {
      "Major":8,
      "Minor":0,
      "Build":17
    },
    "DbType":0
  }
}
